/* ############################################# */
/* CSS File about Identiy application properties */
/* ############################################# */

    table {
        margin-left : 6vw;
    }

    table, th, td {
        border: 1px solid black;
        padding-left : 1vw;
        border-collapse: collapse;
        text-align: left;
        }

    th {
        background-color: #0083A2 !important;
        }

    td {
        border: 0 none;
        }

    tr:hover td{
        background-color:lightslategray;
        }

    table tr:nth-child(odd){
        background-color:lightgrey;
        }

    /* Define background color from upper navbar */
    .navbar-inverse {
        background-color: #0083A2;
        }

    /* DatasystemsEC tab */
    .navbar-inverse .container-fluid .navbar-header .navbar-brand {
        color : white !important;
        }

    /* Tab properties from navbar */
    .navbar .nav > li > a {
        padding-right: -20px;
        padding-left: -20px;
        color:  white !important;
        }

    .navbar .nav > li > a:hover {
        color:  #454545;
        }

    .active {
        background-color: #454545;
        }

    .navbar .sub-menu:before {
        border-bottom: 7px solid transparent;
        border-left: none;
        border-right: 7px solid rgba(0, 0, 0, 0.2);
        border-top: 7px solid transparent;
        left: -7px;
        top: 10px;
        }

    .navbar .sub-menu:after {
        border-top: 6px solid ;
        border-left: none;
        border-right: 6px solid #fff;
        border-bottom: 6px solid ;
        left: 10px;
        top: 11px;
        left: -6px;
        }

    /* Hoover button properties */
    .button:hover {
        background-color: #0083A2;
        color: #454545;
        }
    
    h1, h2, h4 {
        color: #0083A2;
        }

    /* Define button properties */
    .button {

        display: inline;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        font-size: 16px;
        background-color: #e7e7e7;

        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        }

    /* Define form fields properties */
    #id_sex, #id_institution, #id_country, #id_devise, #id_title, #id_debut, #id_fin {
        width:25.83vw;
    }

    /* Define form fields properties */
    .form-fields {
        border-radius: 4px;
        margin-right: auto;
        background-color: #f5f5f5;
        width:50%;
        }

    .form {
        padding-left:10vw;
        list-style: none;
    }

    form > input {
	    width:20%;
    }

    input  {
        width: 25.83vw;
        background-color: #f5f5f5;
        border-radius: 8px; 
        margin-bottom: -20px; 
        }

    label  {
        width: 15vw;
        border-radius: 8px; 
        margin-bottom: -20px; 
        }

    .list {
        color: #fff;
        list-style: none;
        padding-left: 0px;
    }
    .list::first-line {
        color: #454545;
    }

    .list> li{
        padding: 2% 0% 2% 20%;
        color:white;
    }

    ul.list li a, ul.list li a:visited {
        color: white !important;
        text-decoration: none;
    }

    ul.list li a:hover, ul.list li a:active {
        color: white !important;
        text-decoration: none;

    }

    ul.list li.active a {
        color: white !important;
        text-decoration: none;
    }

    .list > h5 > strong {
        color : white;
        padding: 2% 0% 2% 5%;
        font-size: 15px;
    }

    .list > h5 {
        padding: 2% 0% 2% 5%;
        background-color: #454545 ;
    }

    .list>li:hover {
        background-color: #454545;
        border-left: 5px solid white;
        color: white;
        font-weight: bolder;
        padding-left: 35px;
    }


    .sidebar1 {
        background: #0083A2;
        padding:0%;
        margin-top:1vw;
        min-height: 100%;
        width:40vh;
        height:100%;
        
    }

    img.img-responsive.center-block {
        width:17vw;
        padding-right:3vw;
    }

    .blank {
        margin : 0 0 1% 0;
    }

    .footer {
        position: absolute;
        margin : 7% 0 0 0;
        width: 100%;
        text-align: center;
    }

    .container-fluid .text-muted {

    color:#0083A2 !important;
    padding-left:auto;
    background-color: transparent;
    }

    .navbar-right {
            /*padding-left: 400px;*/
            position:absolute; 
            right: 3vw;
        }

    .marginBottom-0 {
        margin-bottom:0;
        }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
                width: 100%;
                margin: auto;
            }

    .dropdown-submenu{
        position:relative;
        }

    .dropdown-submenu>.dropdown-menu{
        top:0;
        left:100%;
        margin-top:0%;
        margin-left:0%;
        -webkit-border-radius:0 6px 6px 6px;
        -moz-border-radius:0 6px 6px 6px;
        border-radius:0 6px 6px 6px;
        }

    .dropdown-submenu>a:after{
        display:block;
        content:" ";
        float:right;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:3% 0 5px 5px;
        border-left-color:#cccccc;
        margin-top:5px;
        margin-right:-10px;
        }

    .dropdown-submenu:hover>a:after{
        border-left-color:#555;
        }

    .dropdown-submenu.pull-left{
        float:none;
        }

    .dropdown-submenu.pull-left>.dropdown-menu{
        left:-100%;
        margin-left:10px;
        -webkit-border-radius:6px 0 6px 6px;
        -moz-border-radius:6px 0 6px 6px;
        border-radius:6px 0 6px 6px;
        }

    div.alert.alert-success.alert-dismissible {
        width:63%;
        margin-left: 10%;   
    }

    .title {
        color: #0083A2;
    }

    .subtitle {
        padding-left : 6vw;
        color: #0083A2;
    }

    .title_subtitle_space{
        margin-top: 3vh;
    }