{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block title %}
    <h3><span class="glyphicon glyphicon-th-list"> </span> L'attestation de Recensement de l'individu {{ar.lastname}} {{ar.firstname}} a été enregistré </h3>
{% endblock %}

{% block content %}

<style>

    form > input {
	    width:20%;
    }

     form {
        list-style: none;
    }

    .current {
        margin-left:8vw;
    }

</style>
   
    <form class = "form" method='POST' action=''> {% csrf_token %}
    <br></br>
    Votre attestation porte le numéro : <b> {{ ar.id}} </b> 
    <br></br>
    <h4> Récapitulatif des données enregistrées : </h4>

    <b>Civilité :</b>  {{ar.title}} <br />
    <b>Nom :</b>  {{ar.lastname}} <br />
    <b>Prénom :</b>  {{ar.firstname}} <br />
    <b>Date de Naissance :</b>  {{ar.birthday}} <br />
    <b>Ville de Naissance :</b>  {{ar.birthcity}} <br />
    <b>Pays de Naissance :</b>  {{ar.birthcountry.name}} <br />
    <b>Ville :</b>  {{ar.city}} <br />
    <b>Pays :</b>  {{ar.country.name}} <br />
    
    <br></br>
    </form>

    <form class="form" method='POST' action="{% url "RPDF" ar.id %}">{% csrf_token %}
    <button>Générer le PDF de l'Attestation de Recensement </button>
    </form>

    <script>
    $(function() {
    $('button').click(function() {
        alert("Votre PDF a été généré dans DatasystemsDOC");
    });
    })(jQuery);
    </script>
   
    


{% endblock content %}