{% extends 'Base_Recensement.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-th-list"> </span> L'attestation de Recensement de l'individu {{ar.lastname}} {{ar.firstname}} a été enregistré </h3>
</div>
{% endblock %}

{% block content %}

    <div class="title_subtitle_space"></div>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible alert-error alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <script type="text/javascript" src="{% get_static_prefix %}{{ mytheme }}/js/notifications.js"></script>

    <div class="resume">

        Votre attestation porte le numéro : <b> {{ ar.id}} </b> 
    
    </div>

        <br></br>

        <div class="subtitle">
            <h4> Récapitulatif des données enregistrées : </h4>
        </div>
            <table style="width:90%">
                <tbody>
                    <p></p>
                <tr>
                    <th> Informations sur l'individu </th>
                    <th> Données renseignées </th>
                </tr>
                <tr>
                    <td>N° Identification</td>
                    <td>{{ar.social_number}}</td>
                </tr>
                <tr>
                    <td>Civilité</td>
                    <td>{{ar.title}}</td>
                </tr>
                <tr>
                    <td>Nom de famille</td>
                    <td>{{ar.lastname}}</td>
                </tr>
                <tr>
                    <td>Prénom(s)</td>
                    <td>{{ar.firstname}}</td>
                </tr>
                <tr>
                    <td>Sexe</td>
                    <td>{{ar.sex}}</td>
                </tr>
                <tr>
                    <td>Date de naissance</td>
                    <td>{{ar.birthday}}</td>
                </tr>
                <tr>
                    <td>Ville de naissance</td>
                    <td>{{ar.birthcity}}</td>
                </tr>
                <tr>
                    <td>Pays de naissance</td>
                    <td>{{ar.birthcountry}}</td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>{{ar.adress}}</td>
                </tr>
                <tr>
                    <td>Ville</td>
                    <td>{{ar.city}}</td>
                </tr>
                <tr>
                    <td>Pays</td>
                    <td>{{ar.country.name}}</td>
                </tr>
                </tbody>
            </table>
    
    <br></br>

    <div class="resume">
        <form method='POST' action="{% url "RPDF" ar.id %}">{% csrf_token %}
        <button>Générer le PDF de l'Attestation de Recensement </button>
        </form>

        <script>
        $(function() {
        $('button').click(function() {
            alert("Votre PDF a été généré dans DatasystemsDOC");
        });
        })(jQuery);
        </script>

    </div>

{% endblock content %}