{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block content %}

    <!-- ############### -->
    <!-- Page principale -->
    <!-- ############### -->

<div class = "col-sm-8">
   
        <form class = "form" method='POST' action=''> {% csrf_token %}
        <h3>  <span class="glyphicon glyphicon-th-list"></span> Création de l'Attestation de Recensement</h3>

        <br></br>
        {{ form.as_ul}} 
        {{birthday|date:"%d/%m/%Y" }} 

        <br></br>

        <input class="button" type ="submit" name="save" value="Valider l'attestation de recensement" /> 

        </form>


</div>

{% endblock content %}