{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block title %}
    <h3><span class="glyphicon glyphicon-th-list"> </span> Création de l'Attestation de Recensement </h3>
{% endblock %}

{% block content %}

<style>

    form > input {
	    width:20%;
    }

     form {
        list-style: none;
    }

    .current {
        margin-left:8vw;
    }

</style>
        
   
        <form autocomplete="off" class = "form" method='POST' action=''> {% csrf_token %}

        <br></br>
        {{ form.as_ul}} 
        {{birthday|date:"%d/%m/%Y" }} 

        <br></br>

        <input class="button" type ="submit" name="save" value="Valider l'attestation de recensement" /> 

        </form>


{% endblock content %}