{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block title %}
    <h3><span class="glyphicon glyphicon-user"> </span> Edition de la liste de recensement terminée </h3>
{% endblock %}

{% block content %}

<style>

    form > input {
	    width:20%;
    }

     form {
        list-style: none;
    }

    .current {
        margin-left:8vw;
    }

</style>

        <form autocomplete="off" class = "form" method='POST' action="{% url "accueil" %}"> {% csrf_token %}
            <br></br>
            <br></br>
            Pour consulter la liste de recensement : <a target="_blank" href="https://demoged.datasystems.fr:8090/frontend.jsp?folderId={{DocID}}">Cliquer ici</a>
            <br></br>
            Le numéro du dossier de recensement est le : {{DocID}}
            <br></br>
            <br></br>
            <input class="button" type ="submit" value="Retour à l'accueil" />
        </form>


{% endblock content %}