{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block content %}

    <!-- ############### -->
    <!-- Page principale -->
    <!-- ############### -->

<div class = "col-sm-8">

        <form class = "form" method='POST' action="{% url "accueil" %}"> {% csrf_token %}
        <h3> Edition de la liste de recensement terminée </h3>

            Pour consulter la liste de recensement : <a target="_blank" href="https://demoged.datasystems.fr:8090/frontend.jsp?folderId=8978476">Cliquer ici</a>
        <p></p>
            <input class="button" type ="submit" value="Retour à l'accueil" />
        </form>

</div>

{% endblock content %}