{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Liste des recensements (individus ayant 16 ans et même commune que la mairie) </h3>
</div>
{% endblock %}

{% block content %}

<style>

    .current {
        margin-left:6vw;
    }

</style>

    <div class="title_subtitle_space"></div>

    <div class="subtitle-form">
        <h4> Prévisualisation de la liste des recensements </h4>
    </div>
        

        <table style="width : 80%">
            <tbody>
                <tr>
                    <th>N° Identification</th>
                    <th>Nom & prénom(s)</th>
                    <th>Lieu de naissance</th>
                    <th>Date de naissance</th>
                    <th>Adresse - Ville (Pays)</th>
                </tr>
                {% for item in result %}
                <tr>
                    <td> {{item.social_number}} </td>
                    <td> {{item.lastname}} {{item.firstname}} </td>
                    <td> {{item.birthcity}} ({{item.birthcountry.name}}) </td>
                    <td> {{item.birthday}}  </td>
                    <td>  {{item.adress}} - {{item.city}} <p>({{item.country}})</p>  </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if result.has_previous %}
        <a href="?page={{ result.previous_page_number }}">Page précédente</a>
        {% endif %}

        <span class="current">
            Page {{ result.number }} sur {{ result.paginator.num_pages }}.
        </span>

        {% if result.has_next %}
            <a href="?page={{ result.next_page_number }}">Page suivante</a>
        {% endif %}


        <br></br>

        <form class = "form" method='POST' action="{% url "RecensementPDF" %}"> {% csrf_token %}
            <input type="submit" onclick="return confirm('Générer le PDF ?')" />
        </form>

{% endblock content %}