{% extends 'Base_Recensement.html' %}

{% load staticfiles %}

{% block title %}
    <h3><span class="glyphicon glyphicon-user"> </span> Votre PDF Attestation de Recensement a été généré et sauvegardé (n° {{ar.id}}) </h3>
{% endblock %}

{% block content %}

<style>

    form > input {
	    width:20%;
    }

     form {
        list-style: none;
    }

    .current {
        margin-left:8vw;
    }

</style>

        <form class = "form" method='POST' action="{% url "BChome" %}"> {% csrf_token %}

        <br></br>

        L'acte de naissance est désormais disponible sous DatasystemsDOC : 

        <br></br>
        
        <a target="_blank" href="https://demoged.datasystems.fr:8090/frontend.jsp?folderId={{folderId}}">Consulter le dossier de {{ar.lastname}} {{ar.firstname}}</a>
        <p></p>
        N° du dossier de la personne : {{folderId}}

        <br></br>
        </form>


{% endblock content %}