{% extends 'Base_Recensement.html' %}

{% load staticfiles %}
{% load variables %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Votre PDF Attestation de Recensement a été généré et sauvegardé (n° {{ar.id}}) </h3>
</div>
{% endblock %}

{% block content %}

    <div class="title_subtitle_space"></div>

    <div class="resume">

        <form method='POST' action="{% url "BChome" %}"> {% csrf_token %}

        <br></br>

        L'acte de naissance est désormais disponible sous DatasystemsDOC : 

        <br></br>
        
        <a target="_blank" href="{% GED_url %}/frontend.jsp?folderId={{DocID}}">Consulter le dossier de {{ar.lastname}} {{ar.firstname}}</a>
        <p></p>
        N° du dossier de la personne : {{DocID}}

        <br></br>
        </form>
    
    </div>


{% endblock content %}