{% extends 'Base_Identity.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Suppression des Fiches individuelles </h3>
</div>
{% endblock %}

{% block content %}

    <div class="title_subtitle_space"></div>

    <form class = "form" method='GET' action=''> {% csrf_token %}

    <h4> Rechercher l'individu à supprimer : </h4>

        <input type="text"  name="q6" placeholder="Entrer un NOM" value="{{ request.GET.q6 }}"> et
        <input type="text"  name="q6bis" placeholder="Entrer un Prénom" value="{{ request.GET.q6bis }}"> et
        <input type="text"  name="q6ter" placeholder="YYYY-mm-jj" value="{{ request.GET.q6ter }}">&nbsp;
        <input class="button" type="submit" value="Rechercher l'individu">

        <br></br>

    </form>

    <form class = "form" method='POST' action= "" > {% csrf_token %}
    <h4> Suppresion de la fiche individuelle : </h4>

    {{form.as_p}}

    <br></br>


    <input class="button" type ="submit" name ="Supprimer" value="Supprimer la fiche" /> 
    </form>

</div>

{% endblock %}