{% extends 'Base_Identity.html' %}

{% load staticfiles %}

{% block content %}

    <!-- ############### -->
    <!-- Page principale -->
    <!-- ############### -->

<div class="col-sm-8">

    <form class = "form" method='GET' action=''> {% csrf_token %}
    <h3> <span class="glyphicon glyphicon-user"> </span> Suppression des fiches individuelles</h3>

    <br></br>


    <h4> Rechercher l'individu à supprimer : </h4>

        <input type="text"  name="q6" placeholder="Entrer un nom" value="{{ request.GET.q6 }}">&nbsp;
        <input type="text"  name="q6bis" placeholder="Entrer un prénom" value="{{ request.GET.q6bis }}">&nbsp;
        <input type="text"  name="q6ter" placeholder="YYYY-mm-jj" value="{{ request.GET.q6ter }}">&nbsp;
        <input class="button" type="submit" value="Rechercher le nom">

        <br></br>

    </form>

    <form class = "form" method='POST' action= "" > {% csrf_token %}
    <h4> Suppresion de la fiche individuelle : </h4>

    {{form.as_ul}}

    <br></br>


    <input class="button" type ="submit" name ="Supprimer" value="Supprimer la fiche individuelle" /> 
    </form>

</div>

{% endblock %}