{% extends 'Base_Identity.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Modification des Fiches individuelles </h3>
</div>
{% endblock %}

{% block content %}

<div class="title_subtitle_space"></div>

    <form class = "form" method="GET" action="">

    <h4> Rechercher l'individu à modifier : </h4>

        <input type="text"  name="q4" placeholder="Entrer un NOM" value="{{ request.GET.q4 }}"> et 
        <input type="text"  name="q4bis" placeholder="Entrer un Prénom" value="{{ request.GET.q4bis }}"> et
        <input type="text"  name="q4ter" placeholder="YYYY-mm-jj" value="{{ request.GET.q4ter }}">&nbsp;
        <input class="button" type="submit" value="Rechercher l'individu">

        <br></br>

    </form>

    <form class = "form" method='POST' action= "" > {% csrf_token %}
    <h4> Modification du formulaire : </h4>

    {{form.as_p}}

    <br></br>

    <input class="button" type ="submit" name ="save" value="Modifier la fiche" /> 

    </form>

{% endblock %}