{% extends 'Base_Identity.html' %}

{% load staticfiles %}

{% block title %}
    <h3><span class="glyphicon glyphicon-user"> </span> Modification des Fiches Identités </h3>
{% endblock %}

{% block content %}

<style>

    form > input {
	    width:20%;
    }

     form {
        list-style: none;
    }

</style>


    <form class = "form" method="GET" action="">

    <h4> Rechercher l'individu à modifier : </h4>

        <input type="text"  name="q4" placeholder="Entrer un NOM" value="{{ request.GET.q4 }}">&nbsp;
        <input type="text"  name="q4bis" placeholder="Entrer un Prénom" value="{{ request.GET.q4bis }}">&nbsp;
        <input type="text"  name="q4ter" placeholder="YYYY-mm-jj" value="{{ request.GET.q4ter }}">&nbsp;
        <input class="button" type="submit" value="Rechercher le nom">

        <br></br>

    </form>

    <form class = "form" method='POST' action= "" > {% csrf_token %}
    <h4> Modification du formulaire : </h4>

    {{form.as_ul}}

    <br></br>

    <input class="button" type ="submit" name ="save" value="Modifier la fiche individuelle" /> 

    </form>

</div>

{% endblock %}