<html>
    <head>
    {% load staticfiles %}
    {% load static %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />   
    <link rel="stylesheet" type="text/css" href="{% static 'css/Base_Identity.css' %}"/>

    <style>
            
            body {
                font-family: Courier New, Courier, monospace;
                text-align: justify;
                list-style-type: none;
            }

    </style>

    </head>

    <body>
        
        <img class="logo" src="{% get_static_prefix %}{{ mytheme }}/images/logo.jpeg" />

        <h2 align="center"> <font size="6"> FICHE INDIVIDUELLE <br /> ORIGINALE & INTEGRALE </font></align> </h2>

        <br></br>
        <br></br>

        {% block content %} 

        <h3 align="left"> FICHE INDIVIDUELLE N° IDENTIFICATION {{person.social_number}} / {% now "Y" %} {{person.firstname}} {{person.lastname}}</align> </h3>

        <br></br>

        <h3> Informations concernant l'individu : </h3>
        <li>N° identification : {{person.social_number}}</li>
        <li>Civilité : {{person.title}}</li>
        <li>Nom de l'individu : {{person.lastname}}</li>
        <li>Nom de jeune fille : {{person.young_girl_lastname}}</li>
        <li>Prénom(s) de l'individu : {{person.firstname}}</li>
        {% if person.sex == "Masculin" %}
        <li>Est né à : {{person.birthcity}} - {{person.birthcountry.name}}</li>
        {% else %}
        <li>Est née à : {{person.birthcity}} - {{person.birthcountry.name}}</li>
        {% endif %}
        <li>Le : {{person.birthday}}</li>
        <li>De sexe : {{person.sex}}</li>
        <li>De nationalité : {{person.nationality}}</li>
        <li>Exerce la profession de : {{person.job}}</li>
        <br></br>
        <li>Réside au : {{person.adress}}</li>
        <li>A : {{person.city}} ({{person.zip}})</li>
        <li>Pays de résidence : {{person.country}}</li>

        <li>Email (optionnel) : {{person.mail}}</li>
        <li>Téléphone (optionnel) : {{person.phone}} </li>
       
        <br></br>

        <h3> Par la présente, l'officier d'Etat Civil certifie la conformité de la déclaration </h3>

        <br></br>

        <h3 align="right"> L'Officier d'Etat Civil </align> </h3>
        <h3 align="right"> Signature et tampon </align> </h3>

        {% endblock %}
    </body>
</html>