{% extends 'Base_Identity.html' %}

{% load staticfiles %}
{% load user_tags %}

{% block title %}
<h2 align="center"> Gestion des Fiches Identités </align> </h2>
{% endblock %}

{% block content %}

    <form class = "form" method='POST' action=''> {% csrf_token %}
    
        <br></br>

        <p> Veuillez cliquer sur l'opération à effectuer : </p>
        <p> </p>
         {% if mytheme == "Datasystems" %}
            <p> <a style="color:#0083A2" href="{% url 'form' %}"> Créer une nouvelle fiche individuelle</a></p>
            <p> <a style="color:#0083A2" href="{% url 'BCnotfound' %}"> Créer une copie/extrait de fiche individuelle</a></p>
            <p> <a style="color:#0083A2" href="{% url 'searched' %}"> Consulter une fiche individuelle</a></p>
         {% elif mytheme == "Cameroun" %}
            <p> <a style="color:#007A5E" href="{% url 'form' %}"> Créer une nouvelle fiche individuelle</a></p>
            <p> <a style="color:#007A5E" href="{% url 'BCnotfound' %}"> Créer une copie/extrait de fiche individuelle</a></p>
            <p> <a style="color:#007A5E" href="{% url 'searched' %}"> Consulter une fiche individuelle</a></p>
        {% endif %}

        {% if  mytheme == "Datasystems" and request.user|has_group:"admin" %}
            <p> <a style="color:#0083A2" href="{% url 'edited' %}"> Editer une fiche individuelle</a></p>
            <p> <a style="color:#0083A2" href="{% url 'deleted' %}">Supprimer une fiche individuelle </a></p>
        {% elif  mytheme == "Datasystems" and request.user|has_group:"admin" %}
            <p> <a style="color:#007A5E" href="{% url 'edited' %}"> Editer une fiche individuelle</a></p>
            <p> <a style="color:#007A5E" href="{% url 'deleted' %}">Supprimer une fiche individuelle </a></p>
        {% endif %}

        <br></br>

        <p> Partie statistique concernant les actes de naissance </p>
        <p align="center"><img src="{% static 'images/stats.jpeg' %}" height="420" width="667"></p>

    </form>


{% endblock content %}