{% extends 'Base_Identity.html' %}

{% load staticfiles %}
{% load variables %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"></span> </span> Votre PDF Fiche d'Identification a été généré et sauvegardé (n° {{personne.id}})</h3>
</div>
{% endblock %}

{% block content %}

    <div class="title_subtitle_space"></div>

        <div class="resume">

        <form method='POST' action="{% url "Home" %}"> {% csrf_token %}
       
            <br></br>

            La Fiche d'Identification est désormais disponible sous DatasystemsDOC : 

            <br></br>
            
            <a style="color:#0083A2;" target="_blank" href="{% GED_url %}/frontend.jsp?folderId={{folderId}}">Consulter le dossier de {{personne.Nom}} {{personne.Prenom}} (n° identification : {{personne.NumeroIdentification}})</a>
            <p></p>
            N° du dossier de la personne : {{folderId}}

            <br></br>

            <button>Retour à l'accueil des Fiches d'Identifications</button>
        </form>



{% endblock content %}