{% extends 'Base_Identity.html' %}

{% load staticfiles %}
{% load static %}
{% load user_tags %}


{% block title %}
<h2 align="center"> Gestion des Fiches Identité </align> </h2>
{% endblock %}

<br></br>

{% block content %}

<style>

    img.test {
        position: absolute;
        width:29.53vw;
        height: 16.66vw;
        margin-left: -5.20vw;
        
    }
</style>

<div class="col-md-5">

    <form class = "form" method='POST' action=''> {% csrf_token %}
    
        <br></br>
        <br></br>

        <p> Veuillez cliquer sur l'opération à effectuer : </p>
        
        <br></br>

         {% if mytheme == "Datasystems" %}
            <p> <a style="color:#0083A2" href="{% url 'form' %}"> Créer une nouvelle fiche identité</a></p>
            <p> <a style="color:#0083A2" href="{% url 'BCnotfound' %}"> Créer une copie/extrait de fiche identité</a></p>
            <p> <a style="color:#0083A2" href="{% url 'searched' %}"> Consulter une fiche identité</a></p>
         {% elif mytheme == "Cameroun" %}
            <p> <a style="color:#007A5E" href="{% url 'form' %}"> Créer une nouvelle fiche identité</a></p>
            <p> <a style="color:#007A5E" href="{% url 'BCnotfound' %}"> Créer une copie/extrait de fiche identité</a></p>
            <p> <a style="color:#007A5E" href="{% url 'searched' %}"> Consulter une fiche identité</a></p>
        {% endif %}

        {% if  mytheme == "Datasystems" and request.user|has_group:"admin" %}
            <p> <a style="color:#0083A2" href="{% url 'edited' %}"> Editer une fiche identité</a></p>
            <p> <a style="color:#0083A2" href="{% url 'deleted' %}">Supprimer une fiche identité </a></p>
        {% elif  mytheme == "Datasystems" and request.user|has_group:"admin" %}
            <p> <a style="color:#007A5E" href="{% url 'edited' %}"> Editer une fiche identité</a></p>
            <p> <a style="color:#007A5E" href="{% url 'deleted' %}">Supprimer une fiche identité </a></p>
        {% endif %}
    </form>

</div>
<br></br>
<br></br>
<div class="col-md-5 col-md-offset-2">
        Partie statistique concernant les fiches identité :
        <br></br>
        <br></br>
        <a href="{% url 'statistics' %}"><img class="test" src="{% get_static_prefix %}{{ mytheme }}/images/stats.jpeg"> </a>

</div>


{% endblock content %}