{% extends 'Base_Identity.html' %}

{% load staticfiles %}
{% load static %}
{% load variables %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Consultation des Fiches individuelles </h3>
</div>
{% endblock %}


{% block content %}

    <div class="title_subtitle_space"></div>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible alert-error alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}

    <div class="resume">

            <h4><b> <span class="glyphicon glyphicon-user"></span> Récapitulatif des 3 dernières fiches individuelles créées : </b></h4>
            <table style="width:90%">
                <tbody>
                <tr>
                    <th>ID</th>
                    <th>Civilité</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de Naissance</th>
                    <th>Ville de Naissance</th>
                    <th>Pays de Naissance</th>
                </tr>
                {% for item in person %}
                <tr>
                    <td>{{ item.id}}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.birthday }}</td>
                    <td>{{ item.birthcity }}</td>
                    <td>{{ item.birthcountry }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <br></br>


        <h4> <b> <span class="glyphicon glyphicon-user"></span> Récapitulatif des 3 dernières fiches individuelles créées habitant en France : </b> </h4>
        <table style="width:90%">
            <tbody>
            <tr>
                <th>ID</th>
                <th>Civilité</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Date de Naissance</th>
                <th>Ville de Naissance</th>
                <th>Pays de Naissance</th>
            </tr>

            {% for item in person_France %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.lastname }}</td>
                    <td>{{ item.firstname }}</td>
                    <td>{{ item.birthday }}</td>
                    <td>{{ item.birthcity }}</td>
                    <td>{{ item.birthcountry }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>



        <!-- ######################################### -->
        <!-- Recherche par nom dans la Base de Données -->
        <!-- ######################################### -->

        <br></br>
        <h4> <b> <span class="glyphicon glyphicon-user"></span> Rechercher le n° identification d'un individu </b></h4>

    <script type="text/javascript" src="{% get_static_prefix %}{{ mytheme }}/js/notifications.js"></script>

        <form autocomplete="off" method="GET" action="">
            <input type="text"  name="q1ID" placeholder="Nom (ex:TEST) " value="{{ request.GET.q1ID }}"> et/ou
            <input type="text"  name="q1bisID" placeholder="Prénom (ex:Test)" value="{{ request.GET.q1bisID }}"> &nbsp;
            <input class="button" type="submit" value="Rechercher">&nbsp;
        </form>

        <br></br>

        <table style="width:90%">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>N° Identification</th>
                    <th>Civilité</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de Naissance</th>
                    <th>Ville de Naissance</th>
                    <th>Pays de Naissance</th>
                </tr>
                {% for item in query_ID_list %}
                <tr>
                    <td> {{item.id}} </td>
                    <td> {{item.social_number}} </td>
                    <td> {{item.title}} </td>
                    <td> {{item.lastname}} </td>
                    <td> {{item.firstname}} </td>
                    <td> {{item.birthday}} </td>
                    <td> {{item.birthcity}} </td>
                    <td> {{item.birthcountry}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br></br>


        <h4> <b> <span class="glyphicon glyphicon-user"></span> Rechercher un individu dans DatasystemsDOC</b></h4>

        {% comment %}{% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible alert-error alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endfor %}{% endcomment %}

    <script type="text/javascript" src="{% get_static_prefix %}{{ mytheme }}/js/notifications.js"></script>

        <form method="GET" action="">
            <input type="text"  name="q1" placeholder="Nom (ex:TEST) " value="{{ request.GET.q1 }}"> et
            <input type="text"  name="q1bis" placeholder="Prénom (ex:Test)" value="{{ request.GET.q1bis }}"> et
            <input type="text"  name="q1social" placeholder="N° identification" value="{{ request.GET.q1social }}"> &nbsp;
            <input class="button" type="submit" value="Rechercher">&nbsp;
        </form>

        <br></br>
        <p class = "texte"> Lien vers le dossier de l'individu {{ request.GET.q1 }} {{request.GET.q1bis}} : 
        
        <a target="_blank" href="{% GED_url %}/frontend.jsp?folderId={{folderId}}">Accéder au dossier</a>
        <p></p>
        <p class = "texte" >N° du dossier de la personne : {{folderId}} </p>

        <br></br>

        <table style="width:90%">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Civilité</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Date de Naissance</th>
                    <th>Ville de Naissance</th>
                    <th>Pays de Naissance</th>
                </tr>
                {% for item in query_lastname_list %}
                <tr>
                    <td> {{item.id}} </td>
                    <td> {{item.title}} </td>
                    <td> {{item.lastname}} </td>
                    <td> {{item.firstname}} </td>
                    <td> {{item.birthday}} </td>
                    <td> {{item.birthcity}} </td>
                    <td> {{item.birthcountry}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br></br>

    </div>


{% endblock content %}