{% extends 'Base_BirthCertificate_Naissance.html' %}

{% load staticfiles %}

{% block title %}
    <h3> <span class="glyphicon glyphicon-file"></span>Création de l'Acte de Naissance </align> </h3>
{% endblock %}

{% block content %}


    <!-- ############### -->
    <!-- Page principale -->
    <!-- ############### -->

            <form class = "form" method='POST' action=''> {% csrf_token %}
                <br></br>
                {{ Bform.as_p}} <!-- Display child part formulary -->
                {{ value|date:"%d/%m/%Y" }}
                {{ value|time:"H:M" }}
                <br></br>

                <input class="button" type ="submit" name="_save2" value="Valider l'acte de naissance" /> 
            </form>


{% endblock content %}