{% extends 'Base_BirthCertificate_Naissance.html' %}

{% load staticfiles %}

{% block title %}
    <h3> <span class="glyphicon glyphicon-file"></span> Votre PDF Acte de Naissance a été généré et sauvegardé (n° {{birthcertificate.id}}) </align> </h3>
{% endblock %}

{% block content %}


        <form class = "form" method='POST' action="{% url "BChome" %}"> {% csrf_token %}

        <br></br>

        L'acte de naissance est désormais disponible sous DatasystemsDOC : 

        <br></br>
        
        <a target="_blank" href="https://demoged.datasystems.fr:8090/frontend.jsp?folderId={{DocID}}">Consulter le dossier de {{birthcertificate.lastname}} {{birthcertificate.firstname}}</a>
        <p></p>
        N° du dossier de la personne : {{DocID}}

        <br></br>

        <input class="button" type ="submit" name="retour" value="Retour à l'accueil des actes de naissance" /> 
        </form>


{% endblock content %}