{% extends 'Base_BirthCertificate_Naissance.html' %}

{% load staticfiles %}

<style>

    .form > li {
        list-style: none;
    }

</style>

{% block title %}
    <h3> <span class="glyphicon glyphicon-file"></span> Votre formulaire a été validé </align> </h3>
{% endblock %}

{% block content %}

    <!-- ############### -->
    <!-- Page principale -->
    <!-- ############### -->


    <form class = "form" method='POST' action=''> {% csrf_token %}

    <br></br>

    L'enfant a été enregistré sous le numéro : <b>{{ birthcertificate.id }}</b> 

    <h4> Récapitulatif des données enregistrées : </h4>

    <br></br>

    <li> <b>Nom :</b>  {{birthcertificate.lastname}}</li>
    <li> <b>Prénom :</b>  {{birthcertificate.firstname}}</li>
    <li> <b>Sexe : </b> {{birthcertificate.sex}}</li>
    <li> <b>Date de Naissance :</b>  {{birthcertificate.birthday}}</li>
    <li> <b>Heure de Naissance :</b>  {{birthcertificate.birthhour}}</li>
    <li> <b>Ville de Naissance :</b>  {{birthcertificate.birthcity}}</li>
    <li> <b>Pays de Naissance :</b>  {{birthcertificate.birthcountry.name}}</li>
    <li> <b>Père :</b>  {{birthcertificate.fk_parent1}}</li>
    <li> <b>Mère :</b>  {{birthcertificate.fk_parent2}}</li>

    <br></br>
    </form>

    <!--<form class = "col-sm-10" method='POST' action="{% url "PDF" birthcertificate.id %}"> {% csrf_token %}
    <input class="button" type ="submit" value="Générer le PDF des acte de naissance" />-->

    <form class="col-sm-10" method='POST' action="{% url "PDF" birthcertificate.id %}">
    {% csrf_token %}
    <button>Générer le PDF des acte de naissance </button>
    </form>

    <script>
    $(function() {
    $('button').click(function() {
        alert("Votre PDF a été généré dans DatasystemsDOC");
    });
    })(jQuery);
    </script>

    </form>
    </form>


{% endblock content %} 