/* ############################################# */
/* CSS File about Identiy application properties */
/* ############################################# */

/* Define background color from upper navbar */
.navbar-inverse {
    background-color: #0083A2;
    }

/* DatasystemsCORE tab */
.navbar-inverse .container-fluid .navbar-header .navbar-brand {
    color : white !important;
    }

/* Tab properties from navbar */
.navbar .nav > li > a {
    color:  white !important;
    }

.navbar .nav > li > a:hover {
    color:  #454545;
    }

.active {
    background-color: #454545;
    }

    .dropdown:hover {
            background-color: #454545;
            color: white;
        }

        .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: -4px;
            visibility: hidden;
            margin-top: 0;
        }

        .dropdown-menu li:hover .sub-menu {
            visibility: visible;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .navbar .sub-menu:before {
            border-bottom: 7px solid transparent;
            border-left: none;
            border-right: 7px solid rgba(0, 0, 0, 0.2);
            border-top: 7px solid transparent;
            left: -7px;
            top: 10px;
        }
        .navbar .sub-menu:after {
            border-top: 6px solid ;
            border-left: none;
            border-right: 6px solid #fff;
            border-bottom: 6px solid ;
            left: 10px;
            top: 11px;
            left: -6px;
        }

h1, h2, h4 {
    color: #0083A2;
    }

/* Define button properties */
.button {

    display: inline;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    font-size: 16px;
    background-color: #e7e7e7;

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    }

/* Define form fields properties */
.form-fields {
    border-radius: 8px;
    margin-right: auto;
    }

.col-sm-6 {
    display:inline-block;
    margin-left : 10px;
    width: 30%;
    list-style: none;
    }

.col-sm-8 {
    list-style: none;
    }

.col-sm-10 {
    display:inline-block;
    margin-left : 10px;
    width: 800%;
    list-style: none;
    }

/* Hoover button properties */
.button:hover {
    background-color: #0083A2;
    color: #454545;
    }

/* Hoover color dropdown menu */
.dropdown-menu>li>a:hover {
   color: #FFFFFF;
   text-decoration: none;
   background-color: #0083A2;
    }

/* Define background-color for dropdown active tab */
.dropdown.open > .active {
    background: #FFFFFF;
    }