/* ############################################# */
/* CSS File about Identiy application properties */
/* ############################################# */

@import url("http://bootswatch.com/flatly/bootstrap.min.css");


    /* Define background color from upper navbar */
    .navbar-inverse {
        background-color: #007A5E;
        }

    /* DatasystemsEC tab */
    .navbar-inverse .container-fluid .navbar-header .navbar-brand {
        color : white !important;
        }

    /* Tab properties from navbar */
    .navbar .nav > li > a {
        color:  white !important;
        }

    .navbar .nav > li > a:hover {
        color:  #CE1126;
        }

    .active {
        background-color: #454545;
        }

        .dropdown:hover {
            background-color: #454545;
            color: white;
        }

        .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: -4px;
            visibility: hidden;
            margin-top: 0;
        }

        .dropdown-menu li:hover .sub-menu {
            visibility: visible;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .navbar .sub-menu:before {
            border-bottom: 7px solid transparent;
            border-left: none;
            border-right: 7px solid rgba(0, 0, 0, 0.2);
            border-top: 7px solid transparent;
            left: -7px;
            top: 10px;
        }
        .navbar .sub-menu:after {
            border-top: 6px solid ;
            border-left: none;
            border-right: 6px solid #fff;
            border-bottom: 6px solid ;
            left: 10px;
            top: 11px;
            left: -6px;
        }

    h1, h2, h4 {
        color: #007A5E;
        }

    h3 {
        padding-left : 6vw;
    }

    /* Define button properties */
    .button {

        display: inline;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        font-size: 16px;
        background-color: #e7e7e7;

        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        }

    /* Define form fields properties */
    .form-fields {
        border-radius: 4px;
        margin-right: auto;
        background-color: #f5f5f5;
        width:30%;
        }

    .form {
        padding-left:8vw;
    }

    label, input  {
        width: 35%;
        background-color: #f5f5f5;
        border-radius: 8px; 
        margin-bottom: -20px; 
        }

    .col-sm-8 {
        list-style: none;
        margin-left:20%;
        margin-top:-68%;
        }

    .col-sm-10 {
        display:inline-block;
        margin-left : 100px;
        list-style: none;

        }

    /* Hoover button properties */
    .button:hover {
        background-color: #007A5E;
        color: #CE1126;
        }

    .dropdown-toggle:active, .open > .dropdown-toggle {
        background-color:#CE1126 !important;
    }

    /* Hoover color dropdown menu */
    .dropdown-menu>li>a:hover {
        color: white;
        text-decoration: none;
        background-color: #CE1126;
        }

    /* Define background-color for dropdown active tab */
    .dropdown.open > .active {
        background: #FFFFFF;
        }

    .sidebar1 {
        background: #007A5E;
        padding:0%;
        margin-top:0.4vw;
        min-height: 100%;
        width:30vh;
        height:100%;
    }
    .logo {
        max-height: 10%;
    }
    .logo>img {
        padding-top: -10px;
    }

    .list {
        color: #fff;
        list-style: none;
        padding-left: 0px;
    }
    .list::first-line {
        color: #CE1126;
    }

    .list> li{
        padding: 2% 0% 2% 20%;
        color:white;
    }

    ul.list li a, ul.list li a:visited {
        color: white !important;
        text-decoration: none;
    }

    ul.list li a:hover, ul.list li a:active {
        color: white !important;
        text-decoration: none;

    }

    ul.list li.active a {
        color: white !important;
        text-decoration: none;

    }

    .list > h5 {
        padding: 2% 0% 2% 5%;
        background-color: #CE1126;
        font-size: 25;
    }
    .list>li:hover {
        background-color: #CE1126;
        border-left: 5px solid white;
        color: white;
        font-weight: bolder;
        padding-left: 35px;
    }

    .main-content{
        text-align:center;
    }

    
    .navbar-right {
        position:absolute; 
        right:1vh;
        }

    .marginBottom-0 {margin-bottom:0;}
    .dropdown-submenu{position:relative;}
    .dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:0%;margin-left:0%;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
    .dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:3% 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
    .dropdown-submenu:hover>a:after{border-left-color:#555;}
    .dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
    
    .footer {
        position: absolute;
        bottom: 1vh;
        width: 100%;
        height: 6vh;
        text-align: center;
        margin-bottom: -10%;
    }

    .container-fluid .text-muted {
    color:#007A5E !important;
    padding-left:auto;
    padding-right:5%;
    background-color: #f5f5f5;
    }

    .footer > .container {
    padding-right: 15px;
    }

table, th, td {
        border: 1px solid black;
        padding: 10px;
        border-collapse: collapse;
        text-align: left;
        }

        th {
        background-color: #007A5E !important;
        }

        td {
        border: 0 none;
        }

        tr:hover td{
        background-color:lightslategray;
        }

        table tr:nth-child(odd){
        background-color:lightgrey;
        }