{% extends 'Base_Mairie.html' %}

{% load staticfiles %}

{% block content %}

    <!-- ############### -->
    <!-- Page principale -->
    <!-- ############### -->

    <h2 align="center"> Gestion des informations de la Mairie </align> </h2>
    <form class = "col-sm-8" method='POST' action=''> {% csrf_token %}
        
    <p> Veuillez cliquer sur l'opération à effectuer : </p>
    <p> </p>
    <p> <a href="#"> Consulter les informations de la Mairie</a></p>
    <p> <a href="#"> Editer les informations de la Mairie</a></p>

    </form>

{% endblock content %}