{% extends 'Base_Mairie.html' %}

{% load staticfiles %}
{% load static %}

{% block title %}
    <div class = "title">
        <h3> <span class="glyphicon glyphicon-info-sign"></span> Informations concernant la Mairie de {{mairie.city}} </align> </h3>
    </div>
{% endblock %}


{% block content %}

    <div class="title_subtitle_space"></div>
    
    <div class="subtitle">
        <h4><span class="glyphicon glyphicon-home"></span> Institution :</h4>
    </div>
            <table style="width:80%">
                <tbody>
                    <p></p>
                <tr>
                    <th> Informations sur l'institution </th>
                    <th> Valeur </th>
                </tr>
                <tr>
                    <td>Institution</td>
                    <td>{{mairie.institution}}</td>
                </tr>
                <tr>
                    <td>Adresse</td>
                    <td>{{mairie.adress}}</td>
                </tr>
                <tr>
                    <td>Code Postal</td>
                    <td>{{mairie.zip}}</td>
                </tr>
                <tr>
                    <td>Ville</td>
                    <td>{{mairie.city}}</td>
                </tr>
                <tr>
                    <td>Pays</td>
                    <td>{{mairie.country}}</td>
                </tr>
                <tr>
                    <td>Département/Canton</td>
                    <td>{{mairie.department}}</td>
                </tr>
                <tr>
                    <td>Devise</td>
                    <td>{{mairie.devise}}</td>
                </tr>
                <tr>
                    <td>Téléphone fixe</td>
                    <td>{{mairie.fixe}}</td>
                </tr>
                <tr>
                    <td>Fax</td>
                    <td>{{mairie.fax}}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{mairie.mail}}</td>
                </tr>
                <tr>
                    <td>Site web</td>
                    <td>{{mairie.web}}</td>
                </tr>
                </tbody>
            </table>
            <br></br>


    <div class="subtitle">  
        <h4><span class="glyphicon glyphicon-user"></span> Mandat du maire en cours :</h4>
    </div>
            <table style="width:80%">
                <tbody>
                    <p></p>
                <tr>
                    <th> Informations sur l'institution </th>
                    <th> Valeur </th>
                </tr>
                <tr>
                    <td>Civilité</td>
                    <td>{{mairie.title}}</td>
                </tr>
                <tr>
                    <td>Nom de famille</td>
                    <td>{{mairie.lastname}}</td>
                </tr>
                <tr>
                    <td>Prénom(s)</td>
                    <td>{{mairie.firstname}}</td>
                </tr>
                <tr>
                    <td>Sexe</td>
                    <td>{{mairie.sex}}</td>
                </tr>
                <tr>
                    <td>Début du mandat</td>
                    <td>{{mairie.debut}}</td>
                </tr>
                <tr>
                    <td>Fin du mandat</td>
                    <td>{{mairie.fin}}</td>
                </tr>
                </tbody>
            </table>

{% endblock content %} 