{% extends 'Base_Mairie.html' %}

{% load staticfiles %}

{% block title %}
    <h3> <span class="glyphicon glyphicon-home"></span> Formulaire d'informations de la Mairie </h3>
{% endblock %}

{% block content %}

    <form autocomplete="off" class="form" method='POST' action=''> {% csrf_token %}
        <p></p>
        {{ Mform.as_p}} <!-- Display child part formulary -->
        <br></br>

        <input class="button" type ="submit" name="saving" value="Valider les informations" /> 
    </form>


{% endblock content %}