{% extends 'Base_Accueil.html' %}

{% load staticfiles %}

{% block content %}

        <p align="center"><img src="{% static 'images/logo.png' %}"></p>
        <h2 align="center"> <font color="#0083A2"> Bienvenue sur la page d'accueil du logiciel DatasystemsEC</font></align></h2>
        <p></p>
        {% if user.is_authenticated %}
        <h3 align="center"> <font color="#0083A2"> Vous êtes connecté(e) en tant que {{ user.username }} </font></align></h3>
        {% endif %}


{% endblock content %}