{% extends 'Base_Accueil.html' %}

{% load staticfiles %}
{% load static %}

{% block content %}

        <p align="center"><img src="{% get_static_prefix %}{{ mytheme }}/images/logo.png"></p>
        {% if mytheme == "Datasystems" %}
        <h2 align="center"> <font color="#0083A2"> Bienvenue sur la page d'accueil du logiciel DatasystemsEC</font></align></h2>
        <p></p>
        {% elif mytheme == "Cameroun" %}
        <h2 align="center"> <font color="#007A5E"> Bienvenue sur la page d'accueil du logiciel DatasystemsEC</font></align></h2>
        <p></p>
        {% endif %}

        {% if mytheme == "Datasystems" and user.is_authenticated %}
        <h3 align="center"> <font color="#0083A2"> Vous êtes connecté(e) en tant que {{ user.username }} </font></align></h3>

        {% elif mytheme == "Cameroun" and user.is_authenticated %}
        <h3 align="center"> <font color="#007A5E"> Vous êtes connecté(e) en tant que {{ user.username }} </font></align></h3>
        {% endif %}


{% endblock content %}