{% extends 'Base_Table.html' %}

{% load staticfiles %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Edition de la table annuelle des naissances </h3>
</div>
{% endblock %}

{% block content %}

<style>

    .current {
        margin-left:6vw; 
    }

</style>
        
    <div class="title_subtitle_space"></div>

    <div class="subtitle-form">
        <h4> <span class="glyphicon glyphicon-user"></span> Prévisualisation de la table annuelle des naissances </h4>
    </div>

        <form class = "form" method="GET" action="">
            <input class="identification-field" type="text"  name="q1" placeholder="Saisir une année" value="{{ request.GET.q1 }}"> &nbsp;
            <input class="button" type="submit" value="Rechercher">
        </form>

        <br></br>

        <table style="width:80%">
            <tbody>
                <tr>
                    <th>N° Identification</th>
                    <th>Nom & prénom(s)</th>
                    <th>Lieu de Naissance</th>
                    <th>Date de l'acte</th>
                    <th>Numéro de l'acte</th>
                </tr>
                {% for item in query_naissance_list %}
                <tr>
                    <td> {{item.social_number}} </td>
                    <td> {{item.lastname}} {{item.firstname}} </td>
                    <td> {{item.birthcity}} ({{item.birthcountry.name}}) </td>
                    <td> {{item.created}} (Edition) <p></p> {{item.birthday}} (Naissance) </td>
                    <td> {{item.id}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


            {% if query_naissance_list.has_previous %}
            <a href="?page={{ query_naissance_list.previous_page_number }}&q1={{ request.GET.q1 }}">Page précédente</a>
            {% endif %}

            <span class="current">
                Page {{ query_naissance_list.number }} sur {{ query_naissance_list.paginator.num_pages }}.
            </span>

            {% if query_naissance_list.has_next %}
                <a href="?page={{ query_naissance_list.next_page_number }}&q1={{ request.GET.q1 }}">Page suivante</a>
            {% endif %}


        <br></br>

        <form class = "form" method='POST' action="{% url "NaissancePDF" %}"> {% csrf_token %}
            <input type="submit" onclick="return confirm('Générer le PDF ?')" />
        </form>


{% endblock content %}