{% extends 'Base_Table.html' %}

{% load staticfiles %}
{% load variables %}

{% block title %}
<div class="title">
    <h3><span class="glyphicon glyphicon-user"> </span> Edition de la table annuelle terminée </h3>
</div>
{% endblock %}

{% block content %}

    <div class="title_subtitle_space"></div>

        <form class = "form" method='POST' action="{% url "accueil" %}"> {% csrf_token %}


            Pour consulter la table annuelle : <a style="color:#0083A2" target="_blank" href="{% GED_url %}/frontend.jsp?folderId=8978466">Cliquer ici</a>
            
            <br></br>
            Le numéro de dossier de la table annuelle des naissances est le : 8978466
            <br></br>
            <br></br>
            <input class="button" type ="submit" value="Retour à l'accueil" />
        </form>


{% endblock content %}