{% extends 'Base_Configurations.html' %} 

{% load staticfiles %} 

{% load static %} 

{% block title %}
    <h3> <span class="glyphicon glyphicon-file"></span> Choix du thème DatasystemsEC </align> </h3>
{% endblock %}

{% block content %}

<style>    

    .col-sm-9 li {
        display : inline;
        list-style-type: none;
        padding-left : 8vw;
    }

    .col-sm-9 .button {
        padding-left : 8vw;
    }

    .img1 {
        position: absolute;
        width: 20vw;
        height: 20vh;
        margin-left: 3vw;
        margin-top: 8vh;
    }
    
    .img2 {
        position: absolute;
        width: 20vw;
        height: 20vh;
        margin-left: 34vw;
        margin-top: 7vh;
    }

</style>

<p><img class="img1" src="{% get_static_prefix %}{{ mytheme }}/images/Thème_Datasystems.png"></p>
<p><img class="img2" src="{% get_static_prefix %}{{ mytheme }}/images/Thème_Cameroun.png"></p>

    <form method="post" action="">{% csrf_token %}
        <div class="container-fluid">
            <div class="row">
                {% for field in form  %}
                    <div class="col-sm-9">
                        <li>{{ field.label_tag }}</li>  {{ field }} 
                    </div>
                {% endfor %}
            </div>  
        </div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
            <input class="button" type="submit" value="Valider le thème" />
    </form>


{% endblock content %}